<!------ Include the above in your HEAD tag ---------->
{{#section 'js'}}
    <script>
        function myFunction() {
            var txt;
            var r = confirm("Are you sure to edit profile!");
            if (r == true) {
                jQuery('#frmEditpassword').on('submit', function (e) {
                    e.preventDefault();
                    const currentpw = $("#txtCurrentpw").val();
                    const newpw = $("#txtNewpw").val();
                    const confirmpw = $("#txtConfirmpw").val();
                    if (currentpw.length === 0 || newpw.length === 0 || confirmpw.length === 0) {
                        alert('Invalid data');
                        return;
                    } else if (newpw !== confirmpw) {
                        alert('Do not fit password  ');
                        return;
                    }
                    jQuery('#frmEditpassword').off('submit').submit();

                });
            } else {
                jQuery('#frmEditpassword').on('submit', function (e) {
                    e.preventDefault();
                    return;
                });
            }
        }

    </script>
{{/section}}
{{#section 'css'}}
    <style>
        .pass_show {
            position: relative
        }

        .pass_show .ptxt {

            position: absolute;

            top: 50%;

            right: 10px;

            z-index: 1;

            color: #f36c01;

            margin-top: -10px;

            cursor: pointer;

            transition: .3s ease all;

        }

        .pass_show .ptxt:hover {
            color: #333333;
        }
    </style>
{{/section}}



<main>
    <form id="frmEditpassword" method="post">
        <div class="container bootstrap snippets bootdey">
            <h1 class="text-primary">Change Password</h1>
            <hr/>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img
                                src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
                                class="avatar img-circle img-thumbnail"
                                alt="avatar"
                                width="150px" ,
                                height="150px"
                        />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">

                    <form class="form-horizontal" role="form">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{#if err}}
                                        <div class="alert alert-warning" role="alert">
                                           Current password is invalid
                                        </div>
                                    {{/if}}
                                    {{#if success}}
                                        <div class="alert alert-primary" role="alert">
                                            Change password successfully
                                        </div>
                                    {{/if}}
                                    <label>Current Password</label>
                                    <div class="form-group pass_show">
                                        <input type="password" value="AAAAAA" class="form-control"
                                              name="currentpassword" id="txtCurrentpw" placeholder="Current Password">
                                    </div>
                                    <label>New Password</label>
                                    <div class="form-group pass_show">
                                        {{#if newpassword}}
                                            <input type="password" value="{{newpassword}}" class="form-control"
                                                   name="newpassword" id="txtNewpw" placeholder="New Password">
                                        {{else}}
                                            <input type="password" value="AAAAAA" class="form-control"
                                                   name="newpassword" id="txtNewpw" placeholder="New Password">
                                        {{/if}}

                                    </div>
                                    <label>Confirm Password</label>
                                    <div class="form-group pass_show">
                                        {{#if confirmpassword}}
                                            <input type="password" value="{{confirmpassword}}" class="form-control"
                                                   name="confirmpassword" id="txtConfirmpw" placeholder="Confirm Password">
                                        {{else}}
                                            <input type="password" value="AAAAAA" class="form-control"
                                                   name="confirmpassword" id="txtConfirmpw" placeholder="Confirm Password">
                                        {{/if}}

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="btn-group ml-3 mr-1" role="group" aria-label="Basic example">
                            <button onclick="myFunction()" type="submit" class="btn btn-info">Save</button>
                        </div>
                        <div class="btn-group ml-3" role="group" aria-label="Basic example">
                            <a class="btn btn-danger"
                               href="/account/profile" role="button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
    </form>

</main>
