{{#section 'js'}}
    <script>
        function myFunction() {
            var txt;
            var r = confirm("Are you sure to edit profile!");
            if (r == true) {
                jQuery('#frmEditprofile').on('submit',function (e){
                    e.preventDefault();
                    const name=$("#txtName").val();
                    const address=$("#txtAddress").val();
                    if (name.length===0 || address.length===0){
                        alert('Invalid data');
                        return;
                    }
                    jQuery('#frmEditprofile').off('submit').submit();
                });
            }else{
                jQuery('#frmEditprofile').on('submit',function (e){
                    e.preventDefault();
                    return;
                });
            }
        }

    </script>
{{/section}}
<main>
    <form id="frmEditprofile" method="post">
        <div class="container bootstrap snippets bootdey">
            <h1 class="text-primary">Edit Profile</h1>
            <hr/>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img
                                src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
                                class="avatar img-circle img-thumbnail"
                                alt="avatar"
                                width="150px" ,
                                height="150px"
                        />
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <h3>Personal info</h3>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" id="txtName" name="Name" type="text" value="{{name}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Address:</label>
                            <div class="col-lg-8">
                                <input class="form-control" id="txtAddress" name="Address" type="text" value="{{address}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input
                                        class="form-control"
                                        type="text"
                                        value="{{email}}"
                                        disabled
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Company:</label>
                            <div class="col-lg-8">
                                <input
                                        class="form-control"
                                        type="text"
                                        value="HCMUS"
                                        disabled
                                />
                            </div>
                        </div>
                        <div class="btn-group ml-3 mr-1" role="group" aria-label="Basic example">
                            <button onclick="myFunction()" type="submit" class="btn btn-info">Save</button>
                        </div>
                        <div class="btn-group ml-3" role="group" aria-label="Basic example">
                            <a class="btn btn-danger"
                               href="/account/profile" role="button">
                                Cancel
                            </a>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <hr/>
    </form>

</main>
